.header {
	width: 100%;
	padding: 2rem 3%;
}

.projects {
	margin: 0 3%;
	padding: 0 0 2rem 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: stretch;
	column-gap: 3rem;
	row-gap: 1rem;
	border-bottom: 1px solid #000;
}
@media screen and (max-width: 1200px) {
	.projects {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 768px) {
	.projects {
		grid-template-columns: 1fr;
	}
}