.section {
   border-top: 1px solid #000;
   padding: 2rem 3%;
   width: 100%;
   display: flex;
   flex-direction: column;
   transition: all 0.2s;
}
.section > div {
   grid-area: 1 / -1;
   margin-top: 2rem;
}
@media screen and (max-width: 1024px) {
   .section {
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
   }
}
@media screen and (max-width: 670px) {
   .section {
      grid-template-columns: 1fr;
      row-gap: 2rem;
   }
}

.intro {
   color: var(--color-primary);
   grid-column: 1 / -1;
   text-align: center;
}

.title {
   grid-column: 1 / -1;
   text-align: center;
}

.skillTitle {
   font-size: 1.5rem;
}

.icon {
   fill: var(--color-primary);
}
