.form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem 2rem;
	box-shadow: var(--shadow-1);
	padding: 2rem;
	border-radius: 7px;
	margin: 2rem 0;
}
@media screen and (max-width: 992px) {
	.form {
		margin: 0;
	}
}
@media screen and (max-width: 576px) {
	.form {
		padding: 1rem;
	}
}
@media screen and (max-width: 450px) {
	.form {
		grid-template-columns: 1fr;
	}
}

.formRow {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: flex-start;
}
.formRow[data-stylefull="true"] {
	grid-column: 1 / -1;
}
.formRow[data-styleflex="true"] {
	flex-direction: row;
	justify-content: flex-start;
	gap: 1rem;
}
.formRow > label {
	width: fit-content;
}
.formRow > label > span {
	color: var(--color-primary);
}
.formRow > span {
	color: var(--color-primary);
	font-size: 0.875rem;
}

.input, .textarea {
	border-radius: 7px;
	border: none;
	padding: 8px 12px;
	background-color: var(--color-dark);
	box-shadow: var(--inner-shadow);
	transition: all 0.2s;
	width: 100%;
}
.textarea {
	min-height: 10rem;
	resize: vertical;
}
.formRow > .formBtn {
	border-radius: 5px;
	background-color: var(--color-darker);
	width: calc(fit-content + 50px);
	padding: 0.75rem 1rem;
	transition: all 0.2s;
	border: 2px solid var(--color-tertiary);
	box-shadow: var(--shadow-1);
	outline: 2px solid transparent;
	outline-offset: -1px;
}

.formRow > .formBtn:active {
	transform: translateY(3px);
}
.formRow > .formBtn:hover {
	outline: 2px solid var(--color-primary);
	background-color: var(--color-tertiary);
}
.formRow > .formBtn[data-styledanger="true"]:hover {
	background-color: var(--color-primary);
}

.form > .success > p {
	color: #0B0 !important;
}